@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Work+Sans:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* -------nav ------ */
header {
    background-color: #ff8f0e14;
}

.starter {
    margin: 0px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

ul {
    display: flex;
}

ul li {
    font-weight: 500;
    font-size: 18px;
    list-style: none;
    padding: 0px 40px;
}

/* ---------- headling ------- */
article {
    text-align: center;
    margin: 100px 200px;
}

.article-title {
    font-weight: 700;
    font-size: 64px;
}

.article-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 30px;
}

.btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;

}

.banner img {
    margin-right: 1200px;
    width: 100%;
    height: 100%;
}

/* ---------- first container -------- */
section {
    margin: 60px 140px;
}

.first-container {
    display: flex;
    align-items: center;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.feature {
    width: 537px;
    height: 304px;
    margin-left: 85px;
}

.feature-title .first {
    font-weight: 300;
    font-size: 45px;
    color: #727272;
}
.feature-title .second {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.feature-title .third {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 15px 0px;
}
